html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  margin: 0;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;

  canvas {
    overflow: hidden;
    object-fit: contain;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
  }
}
