<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
      <title>Mob.js / Pixi Seed</title>
    </head>
  <body>
    <div id="app"></div>
  </body>
</html>
