.filter {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgba(12,6,17, 0.4);

  input {
    vertical-align: middle;
  }
  span {
    display: block;
    color: rgba(248,248,248,0.6);
    font-family: sans-serif;
    font-size: 10px;
    text-align: center;
    padding-top:4px;
  }
}
